.card{
  border: 1px solid blue;
  margin: 10px;
  padding: 30px;
  border-radius: 50px;
  box-shadow: 5px 5px 5px;
  max-width: 250px;
  display: inline-block;
  text-align: center;
}
.card img{
  width: 150px;
  height: 150px;
}

.card .card-title{
    font-family: Arial, sans-serif;
    margin: 0;

}
.card .card-text{
  font: 1em sans-serif;
  color: grey;
}